*,
::after,
::before {
  box-sizing: border-box;
}

/* fonts */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  font-size: 100%;
} /*16px*/



img {
  width: 40px;
  height: 40px;
}

:root {
  /* colors */
  --primary-100: #bef8fd;
  --primary-500: #2cb1bc;
  /* black */
  --black-100: #444444;
  --black-200: #585757;
  --black-300: #969696;
  --black-400: #e4e4e4;
  --black-500: #f7f7f7;

  /* green */
  --green-100: #00b517;
  --green-500: #e5f7e7;
 

  /* red */
  --red-100: #ff385c;
  --red-500: #feeaea;


  /* pink */
  --pink-100: #1c1c1c;

 
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --border-color: #eaf1fb;

  
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  --thick-font: 400;
  --thicker-font: 600;

  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.35rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1270px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
  --breakpoint-lg: 992px;
  --nav-height: 6rem;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 2px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
    
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  font-family: var(--bodyFont);
  color: var(--black-200);
  line-height: 1.75;
  font-weight: var(--thick-font);
  background-color: var(--white);
}

h1, h2, h3, h4, p, img {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}


.loading-center {
  margin: 0 auto;
}

.top-loading {
  margin-top: 8px;
  margin-left: 8px;
}

.loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--blue-100);
  animation: spinner 0.6s linear infinite;
}

.logo {
  width: 70px;
  height: auto;
}

.bd-container {
  max-width: 1300px;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

/* ====== Navbar Container ====== */

.nav-container {
  max-width: 1300px;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem 0;
}

.airbnb-logo {
  display: none;
}

header {
  position: fixed;
  brder-bottom: 1px solid var(--border-color);
  pading-bottom: 1.5rem;
  background-color: var(--white);
  width: 100%;
  z-index: 88;
}



.any-container {
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-3);
  border-radius: 40px;
  padding: .5rem 0;
  width: 100%;
  padding-left: 12px;
}

.any-content {
  display: grid;
  padding-left: 2rem;
  line-height: 1.3;
}

.anyg {
  color: var(--black-300);
}

.week-guest {
  display: flex;
  flex-dirction: column;
}

.each-any {
  fnt-weight: var(--thicker-font);
  font-size: 12px;
  paddng: 0 15px;
  margin-right: 10px;
}
.anywhere-btn {
  font-size: 11px;
  color: var(--black-100);
  font-weight: var(--thicker-font);
}

.any-btn {
  boder-right: 1px solid var(--border-color);
}






.search-btn {
  background-color: none;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

.search-icon {
  font-size: 14px;
  color: var(--black-100);
}

.any-search {
  dispay: flex;
  position: absolute;
  eft: 12px;
}
 
.any-filter-btn {
  position: absolute;
  top: 16px;
  right: 17px;
  display: inline;
}


.right-nav {
  display: none;
}

.each-rn {
  margin-left: 15px;
}

.globe-btn {
  font-size: 1rem;
}

.bar-user-btn {
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-3);
  border-radius: 25px;
  padding: .5rem 1rem;
}


.user-icon {
  font-size: 1.5rem;
  margin-left: 15px;
  color: #444;
}




.tabs-container {
  display: flex;
  align-items: center;
  width: 100%;
  boder: 1px solid red;
  margin: 1rem 0;
  
}

.tabs-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 10px;
}

.each-tab {
  display: flex;
  flex-direction: column;
  magin-left: 1rem;
}
.tab-icon {
  font-size:15px;
}

.tab-label {
  font-size: 12px;
}

.toggle-tab-btn {
  border: 1px solid var(--border-color);
  background-color: var(--white);
  width: 25px;
  height: 25px;
  border-radius: 100%;

  
}


.next-tab-icon {
  padding-top: 2px;
  font-size: 22px;
  color: var(--black-100);
}

.filter-btn {
  display: flex;
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: .25rem .5rem;
  margin-left: 1rem;
}

.togg-filter {
  display: none;
}


.filter-icon {
  font-size: 12px;
}

.filter-label {
  font-size: 12px;
  margin-left: 5px;
}



.toggle-price-container {
  max-width: 500px;
  width: calc(100% - 1rem);
  margin-left: .5rem;
  margin-right: .5rem;
  padding-top: 11rem;
}

.toggle-price-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: .5rem .75rem;
  margin-bottom: 1.5rem;
}
.right-tpc {
  display: grid;
}
.dtp-text {
  font-size: 15px;
  border-right: unset;
  padding-right: 15px;
}

.fees-text {
  color: var(--black-300);
  font-size: 12px;
  margin-left: unset;
}

.switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 28px;
  margin-top: 5px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 2px;
  bottom: 2.3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}

/* =======  Listing Container =========*/

.listing-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  border-radius: var(--borderRadius);
  width: 100%;
  height: 100%;
}
.each-listing {
  position: relative;
  order: 1px solid red;
}
.listing-feed-picture img {
  width: 100%;
  height: 300px;
  display: block;
  filter: brightness(90%);
  border-radius: 10px;
  margin-bottom: 10px;
}

.listing-title, .listing-price {
  font-size: 11px;
}

.title-rating {
  display: flex;
  justify-content: space-between;
}

.star-icontext {
  display: flex;
  align-items: center;
}
.star-icon {
  caret-color: black;
  font-size: 13px;
}

.star-text {
  font-size: 12px;
  margin-left: 5px;
}

.listing-text {
  color: var(--black-300);
  font-size: 11px;
}
.heart-btn {
  position: absolute;
  top: 10px;
  right: 20px;
}
.heart-icon {
  font-size: 16px;
  color: var(--black-100);
}

@media screen and (min-width: 680px) {
  body {
    margin: 0;
  }

  /* =========== Navbar =======*/

  header {
    positin: fixed;
    border-bottom: 1px solid var(--border-color);
    pading-bottom: 1.5rem;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
  }

  .airbnb-logo {
    display: inline;
  }
  

  .search-btn {
    background-color: var(--red-100);
    rght: 5px;
  }

  .any-container {
    dislay: flex;
    align-items: center;
    box-shadow: var(--shadow-3);
    border-radius: 25px;
    padding: .5rem 0;
    width: 310px;
    brder: 1px solid red;
  }

  .any-content {
    display: flex;
    padding-left: unset;
  }
  .search-icon {
    font-size: 10px;
    color: var(--white);
  }

  .any-filter-btn {
    display: none;
  }

  .week-guest {
    display: flex;
  }
  
  .each-any {
    fnt-weight: var(--thicker-font);
    font-size: 13px;
    padding: 0 15px;
    margin-right: unset;
  }
  
  .any-btn {
    border-right: 1px solid var(--border-color);
  }
  
  .guest-label {
    font-size: 13px;
  }

  .any-search {
    right: 4px;
  }

  .right-nav {
    display: flex;
  }

  .togg-filter {
    display: flex;
  }


  .right-tpc {
    display: flex;
    align-items: center;
  }
  .dtp-text {
    font-size: 15px;
    border-right: 1px solid var(--border-color);
    padding-right: 15px;
  }
  
  .fees-text {
    color: var(--black-300);
    font-size: 12px;
    margin-left: 10px;
  }



  /*======== Listing Container ========*/

  .listing-feed-picture img {
    height: 170px;
  }


  
}

@media screen and (min-width: 768px) {
  .nav-container,
  .bd-container,
  .toggle-price-container {
    margin-left: auto;
    margin-right: auto;
  }
}




